/*coloresTabla*/
:root {
  --bgDAY: #000000;--clDAY: #ffffff;
  --bgTIME1: #000000;--clTIME1: #ffffff;
  --bgTIME2: #ffffff;--clTIME2: #000000;
  --bgCH: #45004f;--clCH: #ffffff;
  --bgSP1: #ee2523;--clSP1: #ffffff;
  --bgSP2: #ee2523;--clSP2: #ffffff;
  --bgPS: #FFD700;--clPS: #000000;
  --bgMR: #e94196;--clMR: #ffffff;
  --bgDIV: #2c5273;--clDIV: #ffffff;
  --bgCAFE: #FFD700;--clCAFE: #000000;
  --bgCOM: #000000;--clCOM: #ffffff;
  --bgTRANS: #67b32c;--clTRANS: #ffffff;
  --bgREG: #808080;--clREG: #ffffff;
  --bgGUIA: #009C46;--clGUIA: #ffffff;
  --bgRSME: #2683BE;--clRSME: #ffffff;
  --bgSOCIAL: #000000;--clSOCIAL: #ffffff;
  --bgREC: #505050;--clREC: #ffffff;
  --bgAC: #0067b1;--clAC: #ffffff;
}


/*Formato tabla móvil*/
@media only screen and (max-width:990px){
  a.horariolink, a.horariolink:active, a.horariolink:focus{
    display:block; width:100%;
    color:inherit;font-style:inherit;font-variant:inherit;
    text-decoration:none;
  }
  .tablephone{
    width:100%;
    text-align: center;
    border-collapse: separate;
    empty-cells: hide;
  }
  .tablescreen{
    display:none;
  }
  .tableleyenda{
    font-size:0.7em;
  }

  .DAY{background-color:var(--clDAY);color:var(--bgDAY);text-align: center;width:18.5%;}
  .TIME1{background-color:var(--clTIME1);color:var(--bgTIME1);text-align: right;width:9.5%;}
  .TIME2{background-color:var(--clTIME2);color:var(--bgTIME2);text-align: right;}
  .CH{background-color:var(--bgCH);color:var(--clCH);}
  .SP1{background-color:var(--bgSP1);color:var(--clSP1);}
  .SP2{background-color:var(--bgSP2);color:var(--clSP2);}
  .PS{background-color:var(--bgPS);color:var(--clPS);}
  .MR{background-color:var(--bgMR);color:var(--clMR);}
  .DIV{background-color:var(--bgDIV);color:var(--clDIV);}
  .CAFE{background-color:var(--bgCAFE);color:var(--clCAFE);}
  .COM{background-color:var(--clCOM);color:var(--bgCOM);}
  .TRANS{background-color:var(--bgTRANS);color:var(--clTRANS);}
  .REG{background-color:var(--bgREG);color:var(--clREG);}
  .GUIA{background-color:var(--bgGUIA);color:var(--clGUIA);}
  .RSME{background-color:var(--bgRSME);color:var(--clRSME);}
  .SOCIAL{background-color:var(--bgSOCIAL);color:var(--clSOCIAL);}
  .REC{background-color:var(--bgREC);color:var(--clREC);}
  .AC{background-color:var(--bgAC);color:var(--clAC);}
}

/*Formato tabla para pantalla*/
@media only screen and (min-width:991px){
  a.horariolink, a.horariolink:active, a.horariolink:focus{
    display:block; width:100%;
    color:inherit;font-style:inherit;font-variant:inherit;
    text-decoration:none;
  }
  .tablephone{
    display:none;
  }
  .tablescreen{
    width:100%;
    text-align: center;
    border-collapse: separate;
    empty-cells: hide;
  }
  .tableleyenda{
    display:none;
  }

  .DAY{background-color:var(--clDAY);color:var(--bgDAY);text-align: center;width:18.5%;}
  .TIME1{background-color:var(--clTIME1);color:var(--bgTIME1);text-align: right;width:9.5%;}
  .TIME2{background-color:var(--clTIME2);color:var(--bgTIME2);text-align: right;}
  .CH{background-color:var(--bgCH);color:var(--clCH);}
  .SP1{background-color:var(--bgSP1);color:var(--clSP1);}
  .SP2{background-color:var(--bgSP2);color:var(--clSP2);}
  .PS{background-color:var(--bgPS);color:var(--clPS);}
  .MR{background-color:var(--bgMR);color:var(--clMR);}
  .DIV{background-color:var(--bgDIV);color:var(--clDIV);}
  .CAFE{background-color:var(--bgCAFE);color:var(--clCAFE);}
  .COM{background-color:var(--clCOM);color:var(--bgCOM);}
  .TRANS{background-color:var(--bgTRANS);color:var(--clTRANS);}
  .REG{background-color:var(--bgREG);color:var(--clREG);}
  .GUIA{background-color:var(--bgGUIA);color:var(--clGUIA);}
  .RSME{background-color:var(--bgRSME);color:var(--clRSME);}
  .SOCIAL{background-color:var(--clSOCIAL);color:var(--bgSOCIAL);}
  .REC{background-color:var(--bgREC);color:var(--clREC);}
  .AC{background-color:var(--bgAC);color:var(--clAC);}

}

/*Formato impresión*/
@media only print{
  .tablephone{
    display:none;
  }
  .tablescreen{
    width:100%;
    text-align: center;
    border-collapse: separate;
    empty-cells: hide;
  }

  .DAY{background-color:var(--bgDAY);color:var(--clDAY);text-align: center;width:18.5%;}
  .TIME1{background-color:var(--bgTIME1);color:var(--clTIME1);text-align: right;width:9.5%;}
  .TIME2{background-color:var(--bgTIME2);color:var(--clTIME2);text-align: right;}
  .CH{background-color:var(--bgCH);color:var(--clCH);}
  .SP1{background-color:var(--bgSP1);color:var(--clSP1);}
  .SP2{background-color:var(--bgSP2);color:var(--clSP2);}
  .PS{background-color:var(--bgPS);color:var(--clPS);}
  .MR{background-color:var(--bgMR);color:var(--clMR);}
  .DIV{background-color:var(--bgDIV);color:var(--clDIV);}
  .CAFE{background-color:var(--bgCAFE);color:var(--clCAFE);}
  .COM{background-color:var(--bgCOM);color:var(--clCOM);}
  .TRANS{background-color:var(--bgTRANS);color:var(--clTRANS);}
  .REG{background-color:var(--bgREG);color:var(--clREG);}
  .GUIA{background-color:var(--bgGUIA);color:var(--clGUIA);}
  .RSME{background-color:var(--bgRSME);color:var(--clRSME);}
  .SOCIAL{background-color:var(--bgSOCIAL);color:var(--clSOCIAL);}
  .REC{background-color:var(--bgREC);color:var(--clREC);}
  .AC{background-color:var(--bgAC);color:var(--clAC);}
}
