/* Color EHU*/
/* */
:root {
  --colorA: #FFFFFF;
  --colorB: #000000;
  --colorbackground: #121212;
  --colorbarA: #000000;
  --colorbarB: #FFFFFF;
  --colorlink: #ee2523;
}
/* */

/* Color ZTF1*/
/*
:root {
  --colorA: #FFFFFF;
  --colorB: #0f1e2b;
  --colorbarA: #2c5273;
  --colorbarB: #FFFFFF;
  --colorlink: #ee2523;
}
*/

/* Fonts EHU*/
@font-face {
  font-family: EHUes;
  src: url(../fontES/EHUSans-Regular.otf);
}

@font-face {
  font-family: EHUes;
  src: url(../fontES/EHUSans-Italic.otf);
  font-style:italic;
}

@font-face {
  font-family: EHUes;
  src: url(../fontES/EHUSans-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: EHUes;
  src: url(../fontES/EHUSans-BoldItalic.otf);
  font-weight: bold;
  font-style:italic;
}



html body{
  font-family: EHUes;
  background-color : var(--colorbackground);
  color: var(--colorA);
}

body {
  margin-top: 35px;
  padding-top: 2rem;
}

.jumbotron {
    margin-bottom: 50px;
    background-image: url(../imgs/background.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--colorA);
    text-shadow: black 0.3em 0.3em 0.3em;
}

footer {
    color: var(--colorbarA);
    background-color: var(--colorbarB);
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0.05px;
  width: auto;
}

.navbar-default {
  background-color: var(--colorbarB);
  color: var(--colorbarA);
  background-image: none;
  background-repeat: no-repeat;
 }
.navbar-custom {
    color: var(--colorbarA);
    background-color: var(--colorbarB);
}

h1 {
  font-size:3em;
}
.jumbotron > .container > h1 {
  font-size:4em;
  text-align:center;
}
h2 {
  font-size:2em;
}
h3 {
  font-size:1.5em;
}

h4 {
  font-size:1em;
}

.center_image {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.vcenter {
   display: flex;
   justify-content: center;
   align-items: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
/*Maybe the important can be quit in the future, for now, this works*/
.navbar-nav > .active > a{color: var(--colorbarB)!important; background-color: var(--colorbarA);}
.navbar-nav > li > a:hover{color: var(--colorbarB)!important; background-color: var(--colorbarA);font-style:normal;font-variant:normal;}
.navbar-nav > li > a{color:var(--colorbarA)!important; font-size: 1.3em;}

.navbar-nav > li > .dropdown-menu {background-color: var(--colorbarB);color: var(--colorbarA);}

.navbar-nav > li > .dropdown-menu a{color: var(--colorbarA);}

.navbar-nav > li > .dropdown-menu a:hover{
  font-variant:inherit;
  font-style:inherit;
  background-color: var(--colorbarA);
  color: var(--colorbarB);}

.navbar-nav > li > .dropdown-menu > .active{
  font-variant:inherit;
  font-style:inherit;
  background-color: var(--colorbarA);
  color: var(--colorbarB);}

.btn-colora, .btn-colora:active{
	background-color: var(--colorbarB);
	border-color : var(--colorbarA);
	color: var(--colorbarA);
  width:80%;
  font-size:inherit;
  font-variant:inherit;
  font-style:inherit;
}

.btn-colora:hover, .btn-colora:focus{
  background-color: var(--colorbarA);
	border-color: var(--colorbarB);
	color: var(--colorbarB);
  font-size:inherit;
  font-variant:inherit;
  font-style:inherit;
  width:80%;
}

.btn-sesion, .btn-sesion:active{
	background-color: var(--colorbarB);
	border-color : var(--colorbarA);
	color: var(--colorbarA);
  width:22%;
  font-size:0.6em;
  font-variant:inherit;
  font-style:inherit;
  float:right;
}

.btn-sesion:hover, .btn-sesion:focus{
  background-color: var(--colorbarA);
	border-color: var(--colorbarB);
	color: var(--colorbarB);
  font-size:0.6em;
  font-variant:inherit;
  font-style:inherit;
  width:22%;
  float:right;
}

.btn-colorb, .btn-colorb:active{
	background-color: #ee2523;
	border-color : white;
	color: white;
  width:30%;
  font-size:inherit;
  font-variant:inherit;
  font-style:inherit;
}

.btn-colorb:hover, .btn-colorb:focus{
  background-color: #FFFFFF;
	border-color: #ee2523;
	color: black;
  font-size:inherit;
  font-variant:inherit;
  font-style:inherit;
  width:30%;
}

span a, span a:active, span a:hover{
    color: var(--colorlink);
    font-style:italic;
    font-variant: small-caps;
    font-size: medium;
}

 a {
   color: inherit;
 }

 a:active, a:hover{
    color: var(--colorlink);
    font-style:italic;
    font-variant: small-caps;
    font-size: inherit;
}

p {
  text-align:justify;
}
